@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  margin: 0;
  padding: 0;
}
body{
  background:linear-gradient(90deg, #501fa5 8.26%, rgba(35, 24, 119, 10.58) 99.96%);
  overflow: scroll;
}
body::-webkit-scrollbar{
  display: none;
}
